@define-color bg        #222222;  /* darker background */
@define-color bg_alt    #2a2a2a;  /* slightly lighter for focus */
@define-color fg        #bec1bf;  /* text */
@define-color accent    #df970d;  /* orange/red */
@define-color green     #6aaa64;
@define-color pink      #b16286;
@define-color red       #df970d;
@define-color border    #222222;

* {
  font-family: monospace;
  font-size: 12px;
  color: @foreground;
}

window#waybar {
  background-color: @bg;
  color: @fg;
  border-bottom: 1px solid @border;
  min-height: 28px;
}

/* Buttons / Workspaces */
button {
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: inset 0 -2px transparent;
}
#workspaces button { padding: 0 8px; }
#workspaces button.focused {
  background: @bg_alt;
  box-shadow: inset 0 -2px @accent;
}
#workspaces button.urgent {
  background: @red;
  color: #000000;
}
#window, #workspaces { margin: 0 4px; }

/* Module spacing */
#tray, #clock, #cpu, #memory, #network, #battery, #backlight, #pulseaudio,
#idle_inhibitor, #power-profiles-daemon, #custom-media, #keyboard-state {
  padding: 0 10px;
}

/* States */
#pulseaudio.muted { color: @pink; }
#network.disconnected { color: @accent; }
#battery.warning  { color: @accent; }
#battery.critical { color: @red; }

/* Tooltip */
tooltip {
  background: @bg;
  color: @fg;
  border: 1px solid @border;
}


#custom-power {
  font-family: "Symbols Nerd Font", "Symbols Nerd Font Mono", "JetBrainsMono Nerd Font", monospace;
}

